<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
    <ion-button (click)='startBackgroundGeolocation()'>SETUP TRACKING</ion-button>
    <ion-button (click)='startGPS()'>START TRACKING</ion-button>
    <ion-button (click)='stopGPS()'>STOP TRACKING</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <div *ngIf='lugar; else elseBlock'>
     <div *ngFor='let location of lugar'>
       {{location.altitude}}
       {{location.latitude}}
       {{location.longitude}}
       {{location.time}}
       <h1>Location update!</h1>
       <p>{{locLoop}}</p>
     </div>
    </div>
  
  <ng-template #elseBlock>
  <div >
  no location yet
  </div>
</ng-template>
  
</ion-content>
<ion-footer>
  <ion-button (click)='openImagePicker()'>Select Image</ion-button>
  <ion-button (click)='openCam()'>Take Image</ion-button>
  <ion-button (click)='logOut()'>Logout</ion-button>
</ion-footer>

